@import "~bulma/sass/utilities/_all";

.field-module {
  padding: 2rem 0;
  background-color: $white;

  .trash-can,
  .drag-handle {
    display: none;
    margin-left: 1rem;
  }

  &:hover {
    background-color: $white-ter;

    .trash-can,
    .drag-handle {
      display: inline-block;
    }
  }
}
