@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import "~bulma/sass/utilities/initial-variables";

$family-sans-serif: "Nunito",
BlinkMacSystemFont,
-apple-system,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
"Helvetica",
"Arial",
sans-serif;

$section-padding: 3rem 0;

@import "~bulma/sass/utilities/_all";
@import "~bulma";

.container {
  margin: 0 1rem;

  @include desktop {
    margin: 0 auto;
  }
}

.navbar .container {
  width: auto;
}

.image.is-cover img {
  height: 100%;
  object-fit: cover;
}
